body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* custom css style start*/

.bg-img {
    background-color: #ffcccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 23px);
}

.bg-color {
    color: white;
}

.form-shadow {
    box-shadow: 8px 8px 10px 8px #a0a0a040 !important;
}

.landingpage-style {
    background-color: #ffcccc;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

@media(max-width:2560px) {
    .grid-icons,
    .grid-icons-2 {
        max-width: 550px;
        margin: 0 auto;
    }
}

.mid-btn {
    width: 150px;
    display: none;
}

.djcontent {
    background-color: #ffcccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 23px);
    padding-top: 250px !important;
}

.create_account_btn {
    width: 250px;
    height: 150px;
    padding: 60px;
}

.login_btn {
    width: 250px;
    height: 150px;
    padding: 60px;
    margin-left: 1vw;
}

.homecontent {
    padding: 2rem;
    background: white;
}